body {
    background-color: green;
}

.container {
    width: 1152 px;
    margin: 0 auto;

}

.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px; 
}

.product{
    background-color: pink;


}

.p__image {
    max-width: 200px;
  }

